@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

body {
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  position: relative;
  min-height: 800px;
  margin: 30px auto;
  width: 50%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #6d61a5), to(#392D75));
  background: linear-gradient(to top, #6d61a5 20%, #392D75 100%);
  border: 2px solid #eee;
  border-radius: 10px; }
  @media only screen and (max-width: 1024px) {
    .wrapper {
      width: 100%;
      height: 100vh;
      margin: 0; } }

#currentTime {
  color: white; }
  @media only screen and (max-width: 1024px) {
    #currentTime {
      margin: 0; } }

#setAlarmDiv {
  text-align: center;
  /* display: none;*/ }

.clock {
  margin: 20px auto;
  width: 201px;
  height: 201px;
  border: 5px rgba(255, 255, 255, 0.5) solid;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }
  @media only screen and (max-width: 1024px) {
    .clock {
      margin: 5px auto;
      -webkit-transform: scale(0.7) rotate(180deg);
      transform: scale(0.7) rotate(180deg); } }
  .clock .hours {
    border: 3px solid #ffffff;
    position: absolute;
    height: 30%;
    border-radius: 2px;
    left: 100px;
    top: 100px;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 43200s;
    animation-duration: 43200s; }
  .clock .minutes {
    border: 2px solid #ffffff;
    position: absolute;
    height: 45%;
    border-radius: 2px;
    left: 100px;
    top: 100px;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 3600s;
    animation-duration: 3600s; }
  .clock .seconds {
    border: 2px solid #6d60a5;
    position: absolute;
    height: 45%;
    border-radius: 2px;
    left: 100px;
    top: 100px;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 60s;
    animation-duration: 60s; }

.hand {
  -webkit-transform-origin: top center;
  transform-origin: top center; }

.inputAlarmTime {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 36pt;
  width: 60px; }
  @media only screen and (max-width: 1024px) {
    .inputAlarmTime {
      font-size: 34pt;
      text-align: center; } }

#setHour {
  text-align: right; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.chooseAlarmTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px; }

.hourDiv, .minuteDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .hourDiv button, .minuteDiv button {
    background: none;
    border: none;
    cursor: pointer; }
  .hourDiv .fa, .minuteDiv .fa {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5); }

.optionsDiv {
  position: absolute;
  height: 300px;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  padding: 20px 0; }
  @media only screen and (max-width: 1024px) {
    .optionsDiv {
      height: 350px; } }

fieldset {
  border: none; }

input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -20px; }

.days label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin: 0 5px;
  background-color: #C9C7DC;
  border: solid #6d60a5 3px;
  color: #3A3261;
  font-weight: bold;
  cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .days label {
      margin: 3px; } }
  .days label:hover {
    background-color: #dadada;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .days label:focus {
    background-color: #392D75;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .days label span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%; }

.days input:checked + label {
  background-color: #392D75;
  color: #ffffff;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s; }

.days input:checked + label:hover, .days input:focus + label {
  background-color: #6d60a5;
  color: #C9C7DC;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.fewDays label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 5px;
  background-color: #6d60a5;
  color: #ffffff;
  font-weight: bold;
  text-transform: lowercase;
  width: 150px;
  height: 40px;
  cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .fewDays label {
      margin-bottom: 5px;
      width: 100%; } }
  .fewDays label:hover, .fewDays label:focus {
    background-color: #4F438A;
    color: #ffffff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .fewDays label span {
    margin-top: -2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%; }

.fewDays input:checked + label {
  background-color: #392D75;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.fewDays input:checked + label:hover, .fewDays input:focus + label {
  background-color: #2a2156;
  color: #darkestColor;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

#setAlarmBtn {
  width: 80%;
  padding: 20px;
  background-color: #392D75;
  border: 2px #605CA8 solid;
  color: #ffffff;
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer; }
  #setAlarmBtn:hover, #setAlarmBtn:focus {
    background-color: #6d60a5; }

#alarmDiv {
  display: none;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.fa-bell, .fa-bed {
  color: rgba(255, 255, 255, 0.6);
  font-size: 80pt;
  padding: 50px 0 30px;
  margin-top: -200px; }

.alarmSign {
  text-transform: uppercase;
  color: #ffffff; }

#alarmTime {
  color: #ffffff;
  font-size: 48pt;
  margin: 0; }

.napDiv #napFive {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 5px;
  padding: 20px 30px;
  background-color: #C9C7DC;
  color: #3A3261;
  border: 2px #392D75 solid;
  font-weight: bold;
  font-size: 12pt;
  text-transform: uppercase;
  cursor: pointer;
  /* white-space: pre;*/ }
  .napDiv #napFive:hover, .napDiv #napFive:focus {
    background-color: #4F438A;
    color: #ffffff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }

.napDiv #stopBtn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 5px;
  padding: 20px 30px;
  background-color: #392D75;
  color: #ffffff;
  border: solid #6d60a5 3px;
  font-weight: bold;
  font-size: 12pt;
  text-transform: uppercase;
  cursor: pointer;
  /* white-space: pre;*/ }
  .napDiv #stopBtn:hover, .napDiv #stopBtn:focus {
    background-color: #4F438A;
    color: #ffffff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }

.napDiv .napButtons button {
  margin: 13px;
  padding: 10px 20px;
  background-color: #C9C7DC;
  color: #3A3261;
  border: 2px #392D75 solid;
  font-weight: bold;
  font-size: 10pt;
  text-transform: uppercase; }
  .napDiv .napButtons button:hover, .napDiv .napButtons button:focus {
    background-color: #4F438A;
    color: #ffffff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
