@import "settings";

body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	position: relative;
	min-height: 800px;
	margin: 30px auto;
	width: 50%;
	background: linear-gradient(to top,#6d61a5 20%, $darkestColor 100%);
	border: 2px solid #eee;
	border-radius: 10px;
}

#currentTime {
	color: white;
}

#setAlarmDiv {
	text-align: center;
	// display: none;
}

.clock {
	margin: 20px auto;
	width: 201px;
	height: 201px;
	border: 5px rgba(255,255,255, 0.5) solid;
	border-radius: 50%;
	transform: rotate(180deg);

	.hours {
		border: 3px solid #ffffff;
		position: absolute;
		height: 30%;
		border-radius: 2px;
		left: 100px;
		top: 100px;
		@include animation;
		animation-duration: 43200s;
	}

	.minutes {
		border: 2px solid #ffffff;
		position: absolute;
		height: 45%;
		border-radius: 2px;
		left: 100px;
		top: 100px;
		@include animation;
		animation-duration: 3600s;
	}
	.seconds {
		border: 2px solid $middleColor;
		position: absolute;
		height: 45%;
		border-radius: 2px;
		left: 100px;
		top: 100px;
		@include animation;
		animation-duration: 60s;
	}
}

.hand {
	transform-origin: top center;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.inputAlarmTime {
	background: transparent;
	border: 0;
	color: #ffffff;
	font-size: 36pt;
	width: 60px;
}

#setHour{
		text-align: right;
	}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.chooseAlarmTime {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.hourDiv, .minuteDiv {
	display: flex;
	flex-direction: column;

	button {
		background: none;
		border: none;
	}

	.fa {
		cursor: pointer;
		font-size: 40px;
		color: rgba(255,255,255, 0.5);
	}
}


.optionsDiv {
	position: absolute;
	height: 300px;
	bottom: 0;
	background-color: #ffffff;
	width: 100%;
	padding: 20px 0;

}

fieldset {
	border: none;
}

input[type=checkbox] {
		opacity: 0;
		position: absolute;
		top: -20px;
}

.days {
	input:checked + span {
	    background-color: $darkestColor;
	    color: #ffffff;
	    @include quickerDelayColor;
	}
	
	input:checked + span:hover {
	    background-color: $brightestGrey;
	    color: $darkestColor;
	    @include delayColor;
	}

	label {
		display: inline-flex;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		width: 55px;
		height: 55px;
		margin: 0 5px;
		background-color: $brightestColor;
		border: solid $middleColor 3px;
		color: $textColor;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			background-color: $brightestGrey;
			@include delayColor;
		}

		&:focus {
			background-color: $darkestColor;
			@include delayColor;
		}

		span {	
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
			    width: 100%;
			    height: 100%;
			}
	}
}

.fewDays {
	input:checked + span {
	    background-color: $darkestColor;
	    height: 100%;
	    @include delayColor;
	}

	input:checked + span:hover {
	    background-color: #2a2156;
	    color: #darkestColor;
	    height: 100%;
	    @include delayColor;
	}


	label {
		display: inline-flex;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		background-color: $middleColor;
		color: #ffffff;;
		font-weight: bold;
		text-transform: lowercase;
		width: 150px;
		height: 40px;
		cursor: pointer;

		&:hover, &:focus{
			background-color: #4F438A;
			color: #ffffff;
			@include delayColor;
		}

		span {	
				box-sizing: border-box;
			    width: 100%;
			    height: 100%;
			    padding: 5px;

			}
	}
}


#setAlarmBtn {
	width: 80%;
	padding: 20px;
	background-color: $darkestColor;
	border: 2px #605CA8 solid;
	color: #ffffff;
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;

	&:hover, &:focus {
		background-color: $middleColor;
	}
}

#alarmDiv {
	display: none;
	padding-bottom: 20px;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.fa-bell, .fa-bed {
	color: rgba(255,255,255, 0.6);
	font-size: 80pt;
	padding: 50px 0 30px;
	margin-top: -200px;

}

.alarmSign {
	text-transform: uppercase;
	color: #ffffff;
}

#alarmTime {
	color: #ffffff;
	font-size: 48pt;
	margin: 0;
}

.napDiv {
	#napFive {
		box-sizing: border-box;
		margin: 0 5px;
		padding: 20px 30px;
		background-color: $brightestColor;
		color: $textColor;
		border: 2px $darkestColor solid;
		font-weight: bold;
		font-size: 12pt;
		text-transform: uppercase;
		cursor: pointer;
		// white-space: pre;

		&:hover, &:focus{
			background-color: #4F438A;
			color: #ffffff;
			@include delayColor;
		}
	}

	#stopBtn {
		box-sizing: border-box;
		margin: 0 5px;
		padding: 20px 30px;
		background-color: $darkestColor;
		color: #ffffff;
		border: solid $middleColor 3px;
		font-weight: bold;
		font-size: 12pt;
		text-transform: uppercase;
		cursor: pointer;
		// white-space: pre;

		&:hover, &:focus{
			background-color: #4F438A;
			color: #ffffff;
			@include delayColor;
		}
	}

	.napButtons {
		button {
			margin: 13px;
			padding: 10px 20px;
			background-color: $brightestColor;
			color: $textColor;
			border: 2px $darkestColor solid;
			font-weight: bold;
			font-size: 10pt;
			text-transform: uppercase;

			&:hover, &:focus{
				background-color: #4F438A;
				color: #ffffff;
				@include delayColor;
			}
		}
	}
}